<?xml version="1.0"?>
<robot name="semantic" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_name" default="" />
  <xacro:arg name="tf_prefix" default="" />
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="semantic_parent" value="base_link" />

  <xacro:macro name="semantic"
    params="semantic_name semantic_cam_px semantic_cam_py semantic_cam_pz semantic_cam_or semantic_cam_op semantic_cam_oy">

    <link name="$(arg tf_prefix)${semantic_name}_link">
    <visual>
      <geometry>
        <mesh filename="package://kinect2_description/meshes/sensors/kinect2.dae" />
      </geometry>
      <origin xyz="0.02 0 0" rpy="0 0 3.141592" />
    </visual>

    <collision>
      <geometry>
        <box size=".1 .25 .06" />
      </geometry>
      <contact_coefficients mu="0" kp="1000.0" kd="1.0" />
    </collision>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
    </link>

    <joint name="$(arg robot_name)_${semantic_name}_joint" type="fixed">
      <parent link="$(arg tf_prefix)${semantic_parent}" />
      <child link="$(arg tf_prefix)${semantic_name}_link" />
      <origin xyz="${semantic_cam_px} ${semantic_cam_py} ${semantic_cam_pz}"
        rpy="${semantic_cam_or} ${semantic_cam_op} ${semantic_cam_oy}" />
    </joint>

    <link name="$(arg tf_prefix)${semantic_name}_rgb_optical_frame" />

    <joint name="$(arg robot_name)_${semantic_name}_rgb_joint" type="fixed">
      <parent link="$(arg tf_prefix)${semantic_name}_link" />
      <child link="$(arg tf_prefix)${semantic_name}_rgb_optical_frame" />
      <origin xyz="0 0.0125 0.016" rpy="-1.57 0 -1.57" />
    </joint>

    <link name="$(arg tf_prefix)${semantic_name}_depth_optical_frame" />

    <joint name="$(arg robot_name)_${semantic_name}_depth_joint" type="fixed">
      <parent link="$(arg tf_prefix)${semantic_name}_link" />
      <child link="$(arg tf_prefix)${semantic_name}_depth_optical_frame" />
      <origin xyz="0 -0.0125 0.016" rpy="-1.57 0 -1.57" />
    </joint>

    <gazebo reference="$(arg tf_prefix)${semantic_name}_link">
      <sensor name="$(arg robot_name)_${semantic_name}_sensor" type="segmentation">
        <topic>segmentation</topic>
        <camera>
          <segmentation_type>instance</segmentation_type>
          <horizontal_fov>1.047</horizontal_fov>
          <image>
            <width>800</width>
            <height>600</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>10</far>
          </clip>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>