[submodule "joint_read_command_controller"]
	path = joint_read_command_controller
	url = https://github.com/RobotnikAutomation/joint_read_command_controller
[submodule "rbvogui_common"]
	path = rbvogui_common
	url = https://github.com/RobotnikAutomation/rbvogui_common
[submodule "rbvogui_sim"]
	path = rbvogui_sim
	url = https://github.com/RobotnikAutomation/rbvogui_sim
[submodule "robotnik_msgs"]
	path = robotnik_msgs
	url = https://github.com/RobotnikAutomation/robotnik_msgs
[submodule "robotnik_sensors"]
	path = robotnik_sensors
	url = https://github.com/RobotnikAutomation/robotnik_sensors
[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/fmauch/universal_robot.git
[submodule "robotnik_pad"]
	path = robotnik_pad
	url = https://github.com/RobotnikAutomation/robotnik_pad.git
[submodule "rcomponent"]
	path = rcomponent
	url = https://github.com/RobotnikAutomation/rcomponent.git
[submodule "teleop_panel"]
	path = teleop_panel
	url = https://github.com/RobotnikAutomation/teleop_panel.git
[submodule "ewellix_description"]
	path = ewellix_description
	url = https://github.com/RobotnikAutomation/ewellix_description.git
