[submodule "rbvogui_sim"]
	path = rbvogui_sim
	url = https://github.com/RobotnikAutomation/rbvogui_sim
[submodule "rbvogui_common"]
	path = rbvogui_common
	url = https://github.com/RobotnikAutomation/rbvogui_common
[submodule "robotnik_base_hw_sim"]
	path = robotnik_base_hw_sim
	url = https://github.com/RobotnikAutomation/robotnik_base_hw_sim
[submodule "robotnik_pad"]
	path = robotnik_pad
	url = https://github.com/RobotnikAutomation/robotnik_pad
	shallow = true
[submodule "robotnik_sensors"]
	path = robotnik_sensors
	url = https://github.com/RobotnikAutomation/robotnik_sensors
	shallow = true
