version: '2'

# persist changes in your home directory
volumes:
  home:

services:
  bacchus_teaching:
    build: .
    restart: unless-stopped
    image: lcas.lincoln.ac.uk/lcas/bacchus_lcas_teaching:teaching
    environment:
      RESOLUTION: 1280x720
    volumes:
      - home:/home/ubuntu
      - .:/volume/host
    ports:
      - "6080:80"
      - "6081:8888"
