<?xml version="1.0"?>

<model>
  <name>calibration_sign</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Callum Small</name>
    <email>csmall@sagarobotics.com</email>
  </author>

  <description>
    A phyical sign for calibrating cameras.
  </description>
</model>
