<?xml version="1.0"?>

<model>
  <name>station_label_2</name>
  <version>1.0</version>
  <sdf version="1.4">station_label_2.sdf</sdf>

  <author>
    <name>Callum Small</name>
    <email>csmall@sagarobotics.com</email>
  </author>

  <description>
    an a4 plane for displaying charging station labels.
  </description>
</model>
