<?xml version="1.0" ?>
<launch>

  <!--MAIN PARAMETERS -->
  <arg name="world_name" default="summer_school_stage0"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="nav_map_yaml" default="$(find bacchus_slam)/maps/summer_school_stage0_map.yaml" />


  <!-- ======================= -->
  <!-- DO NOT TOUCH UNDER THIS -->
  <!-- ======================= -->

  <!-- Robot arguments -->
  <arg name="fake_localisation" default="false" doc="fake the localisation, sets map_server and world_tf to true."/>
  <arg name="robot_name" default="thorvald_001"/>

  <arg name="robot_model" default="$(find bacchus_gazebo)/config/robot.yaml"/>
  <arg name="model_extras" default="$(find bacchus_gazebo)/urdf/bacchus_sensors.xacro"/>

  <!-- navigation arguments -->
  <arg name="launch_move_base" default="true"/>
  <arg name="tf_prefix" default="$(arg robot_name)/"/>
  <arg name="use_carrot_planner" default="false"/>
  <arg name="use_omni" default="false"/>
  <arg name="X_INIT" default="0.0"/>
  <arg name="Y_INIT" default="0.0"/>
  <arg name="Z_INIT" default="0"/>
  <arg name="world_2_map_pose" default="0.0 0.0 0.0 0.0 0.0 0.0 1.0" />


  <!-- ############################## GAZEBO ############################## -->
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="world" default="$(find bacchus_gazebo)/worlds/$(arg world_name).world"/>
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="remap_gazebo_odom_tf" default="true"/>

  <!-- ############################### RVIZ ############################### -->
  <arg name="launch_rviz" default="true"/>
  <arg name="rviz_config_file" default="$(find bacchus_slam)/rviz/hector_localization.rviz"/>


  <!-- ############################### ROBOT ############################## -->
  <group if="$(eval robot_name == 'thorvald_001')">
    <include file="$(find bacchus_gazebo)/launch/thorvald.launch">
      <arg name="robot_name"             value="$(arg robot_name)" />
      <arg name="tf_prefix"              value="" />
      <arg name="x"                      value="$(arg X_INIT)" />
      <arg name="y"                      value="$(arg Y_INIT)" />
      <arg name="z"                      value="$(arg Z_INIT)" />
      <arg name="robot_model"            value="$(arg robot_model)"/>
      <arg name="model_extras"           value="$(arg model_extras)"/>
      <arg name="world_name"             value="$(arg world)"/>
      <arg name="fake_localisation"      value="$(arg fake_localisation)"/>
      <arg name="rviz_config_file"       value="$(arg rviz_config_file)"/>
      <arg name="gui"                    value="$(arg gazebo_gui)"/>
      <arg name="launch_move_base"       value="$(arg launch_move_base)"/>
      <arg name="remap_gazebo_odom_tf"   value="$(arg remap_gazebo_odom_tf)"/>
    </include>
  </group>

    <!-- ################## AMCL LOCALIZATION ############################## -->
  <node pkg="amcl" type="amcl" name="amcl">
    <remap from="scan" to="/thorvald_001/front_scan" />
    <param name="odom_frame_id" type="string" value="odom" />
    <param name="base_frame_id" type="string" value="base_link" />
    <param name="global_frame_id" type="string" value="map" />
    <param name="odom_model_type" type="string" value="omni-corrected" />
  </node>

  <node name="nav_map_server" pkg="map_server" type="map_server" args="$(arg nav_map_yaml)" output="screen"/>

  <group if="$(arg remap_gazebo_odom_tf)">
    <node pkg="bacchus_gazebo" type="remap_odom_and_tf.py" name="remap_odom_and_tf_node" output="screen">
      <param name="odom_topic_name"     value="/thorvald_001/odometry/gazebo" />
      <param name="new_odom_topic_name" value="/thorvald_001/odometry/GT" />
      <param name="base_frame_id"       value="base_link_GT" />
      <param name="odom_frame_id"       value="map" />   
      <param name="publish_tf"          value="true" />
    </node>
  </group>

  <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot" args="--multiplot-config $(find bacchus_slam)/config/GT_vs_AMCL_localization.xml --multiplot-run-all">
  </node>


</launch>






