<?xml version="1.0" ?>
<launch>

  <!--MAIN PARAMETERS -->
  <arg name="world_name" default="vineyard_stage0"/>
  <arg name="gui" default="false"/>

  <!-- RTAB-MAP SLAM PARAMETERS -->
  <arg name="launch_rtabmap"   default="true"/>
  <arg name="rtabmapviz"       default="true"/>
  <arg name="localization"     default="false"/>




  <!-- ======================= -->
  <!-- DO NOT TOUCH UNDER THIS -->
  <!-- ======================= -->

  <!-- Robot arguments -->
  <arg name="fake_localisation" default="true" doc="fake the localisation, sets map_server and world_tf to true."/>
  <arg name="robot_name" default="thorvald_001"/>

  <arg name="robot_model" default="$(find bacchus_gazebo)/config/robot.yaml"/>
  <arg name="model_extras" default="$(find bacchus_gazebo)/urdf/PhenoRob_sensors.xacro"/>

  <!-- navigation arguments -->
  <arg name="launch_move_base" default="true"/>
  <arg name="tf_prefix" default="$(arg robot_name)/"/>
  <arg name="use_carrot_planner" default="false"/>
  <arg name="use_omni" default="false"/>
  <arg name="X_INIT" default="0.0"/>
  <arg name="Y_INIT" default="0.0"/>
  <arg name="Z_INIT" default="0"/>
  <arg name="nav_map_yaml" default="$(find bacchus_gazebo)/maps/cropped.yaml" />
  <arg name="world_2_map_pose" default="0.0 0.0 0.0 0.0 0.0 0.0 1.0" />


  <!-- ############################## GAZEBO ############################## -->
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="world" default="$(find bacchus_gazebo)/worlds/$(arg world_name).world"/>
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <!-- ############################### RVIZ ############################### -->
  <arg name="launch_rviz" default="true"/>
  <arg name="rviz_config_file" default="$(find bacchus_gazebo)/rviz/rtab_demo.rviz"/>


  <!-- ############################### ROBOT ############################## -->
  <group if="$(eval robot_name == 'thorvald_001')">

    <include file="$(find bacchus_gazebo)/launch/thorvald.launch">
      <arg name="robot_name"        value="$(arg robot_name)" />
      <arg name="tf_prefix"         value="" />
      <arg name="x"                 value="$(arg X_INIT)" />
      <arg name="y"                 value="$(arg Y_INIT)" />
      <arg name="z"                 value="$(arg Z_INIT)" />
      <arg name="robot_model"       value="$(arg robot_model)"/>
      <arg name="model_extras"      value="$(arg model_extras)"/>
      <arg name="world_name"        value="$(arg world)"/>
      <arg name="fake_localisation" value="$(arg fake_localisation)"/>
      <arg name="nav_map_yaml"      value="$(arg nav_map_yaml)"/>
      <arg name="rviz_config_file"  value="$(arg rviz_config_file)"/>
      <arg name="gui"               value="$(arg gui)"/>
    </include>

  </group>


  <!-- ################## RTAB-MAP SLAM ############################## -->
  <group if="$(arg launch_rtabmap)">
    <group ns="rtabmap">
      <node name="rgbd_sync" pkg="rtabmap_ros" type="rgbd_sync" output="screen">
        <remap from="rgb/image" to="/thorvald_001/kinect2_front_camera/rgb/image_raw"/>
        <remap from="depth/image" to="/thorvald_001/kinect2_front_sensor/ir/depth/image_raw"/>
        <remap from="rgb/camera_info" to="/thorvald_001/kinect2_front_camera/rgb/camera_info"/>
      </node>
      
      <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap"  output="screen" args="-d">
        <param name="database_path" type="string" value="~/.ros/rtabmap.db"/>
        <param name="frame_id"      type="string" value="base_link"/>
        <param name="odom_frame_id" type="string" value="rtab_odom"/>
        <param name="subscribe_rgb"   type="bool" value="false"/>
        <param name="subscribe_depth" type="bool" value="false"/>
        <param name="subscribe_rgbd"  type="bool" value="true"/>
        <param name="subscribe_scan"  type="bool" value="true"/>
        <param name="approx_sync"     type="bool" value="true"/>

        <!-- inputs -->
        <remap from="scan"            to="/thorvald_001/front_scan"/>
        <remap from="rgbd_image"       to="rgbd_image"/>

        <!-- RTAB-Map's parameters -->
        <param name="Reg/Strategy"                 type="string" value="1"/>
        <param name="Reg/Force3DoF"                type="string" value="true"/>
        <param name="GridGlobal/MinSize"           type="string" value="20"/>

        <!-- localization mode -->
        <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
        <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>          
      </node>

      <!-- visualization with rtabmapviz -->
      <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
        <param name="subscribe_scan"   type="bool"   value="true"/>
        <param name="subscribe_odom"   type="bool"   value="false"/>
        <param name="subscribe_rgbd"   type="bool" value="true"/>
        <param name="frame_id"         type="string" value="base_link"/>
        <param name="odom_frame_id"    type="string" value="rtab_odom"/>
        <param name="approx_sync"      type="bool"   value="true"/>

        <remap from="scan"            to="/thorvald_001/front_scan"/>
        <remap from="rgbd_image"      to="rgbd_image"/>
      </node>

    </group>

  </group>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard">
    <remap from="cmd_vel" to="/thorvald_001/nav_vel" />
  </node>


</launch>
