<?xml version="1.0" ?>
<launch>

  <!--MAIN PARAMETERS -->
  <arg name="world_name" default="summer_school_stage0"/>
  <arg name="gazebo_gui" default="false"/>

  <!-- RTAB-MAP SLAM PARAMETERS -->
  <arg name="Reg/Strategy"        default="2"/>    <!-- Loop closure transformation: 0=Visual, 1=ICP, 2=Visual+ICP-->
  <arg name="Reg/Force3DoF"       default="false"/> <!-- Force 3 degrees-of-freedom transform (3Dof: x,y and yaw). Parameters z, roll and pitch will be set to 0.-->
  <arg name="GridGlobal/MinSize"  default="5"/>   <!-- Minimum map size (m).-->

  <arg name="localization"      default="false"/>

  <!-- ======================= -->
  <!-- DO NOT TOUCH UNDER THIS -->
  <!-- ======================= -->

  <!-- Robot arguments -->
  <arg name="fake_localisation" default="false" doc="fake the localisation, sets map_server and world_tf to true."/>
  <arg name="robot_name" default="thorvald_001"/>

  <arg name="robot_model" default="$(find bacchus_gazebo)/config/robot.yaml"/>
  <arg name="model_extras" default="$(find bacchus_gazebo)/urdf/PhenoRob_sensors.xacro"/>

  <!-- navigation arguments -->
  <arg name="launch_move_base" default="true"/>
  <arg name="tf_prefix" default="$(arg robot_name)/"/>
  <arg name="use_carrot_planner" default="false"/>
  <arg name="use_omni" default="false"/>
  <arg name="X_INIT" default="0.0"/>
  <arg name="Y_INIT" default="0.0"/>
  <arg name="Z_INIT" default="0"/>
  <arg name="nav_map_yaml" default="$(find bacchus_gazebo)/maps/cropped.yaml" />
  <arg name="world_2_map_pose" default="0.0 0.0 0.0 0.0 0.0 0.0 1.0" />
  <arg name="enable_odom_tf" default="false"/>

  <!--rtabmap-->
  <arg name="launch_rtabmap"   default="true"/>
  <arg name="rtabmapviz"       default="true"/>

  <arg     if="$(arg localization)" name="args"  default=""/>
  <arg unless="$(arg localization)" name="args"  default="--delete_db_on_start"/> <!--if in SLAM mode, delete stored map in database, else load previous map-->
  
  <arg name="rgb_topic"   default="/thorvald_001/kinect2_front_camera/rgb/image_raw"/>
  <arg name="depth_topic" default="/thorvald_001/kinect2_front_sensor/ir/depth/image_raw"/>
  <arg name="camera_info_topic" default="/thorvald_001/kinect2_front_camera/rgb/camera_info"/>

  <!-- ############################## GAZEBO ############################## -->
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="world" default="$(find bacchus_gazebo)/worlds/$(arg world_name).world"/>
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="remap_gazebo_odom_tf" default="true"/>

  <!-- ############################### RVIZ ############################### -->
  <arg name="launch_rviz" default="false"/>
  <arg name="rviz_config_file" default="$(find bacchus_gazebo)/rviz/rtab_demo.rviz"/>


  <!-- ############################### ROBOT ############################## -->
  <group if="$(eval robot_name == 'thorvald_001')">

    <include file="$(find bacchus_gazebo)/launch/thorvald.launch">
      <arg name="robot_name"        value="$(arg robot_name)" />
      <arg name="tf_prefix"         value="" />
      <arg name="x"                 value="$(arg X_INIT)" />
      <arg name="y"                 value="$(arg Y_INIT)" />
      <arg name="z"                 value="$(arg Z_INIT)" />
      <arg name="robot_model"       value="$(arg robot_model)"/>
      <arg name="model_extras"      value="$(arg model_extras)"/>
      <arg name="world_name"        value="$(arg world)"/>
      <arg name="fake_localisation" value="$(arg fake_localisation)"/>
      <arg name="nav_map_yaml"      value="$(arg nav_map_yaml)"/>
      <arg name="launch_rviz"        value="$(arg launch_rviz)"/>
      <arg name="rviz_config_file"  value="$(arg rviz_config_file)"/>
      <arg name="gui"               value="$(arg gazebo_gui)"/>
      <arg name="enable_odom_tf"    value="$(arg enable_odom_tf)"/>
      <arg name="remap_gazebo_odom_tf"   value="$(arg remap_gazebo_odom_tf)"/>
    </include>

  </group>


  <!-- ################## RTAB-MAP SLAM ############################## -->
  <group if="$(arg launch_rtabmap)">
    <group ns="rtabmap">

      <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
        <remap from="rgb/image" to="$(arg rgb_topic)"/>
        <remap from="depth/image" to="$(arg depth_topic)"/>
        <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
        <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
        <param name="approx_sync"     value="false"/>    <!-- Should be true for not synchronized camera topics (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      </node>

      <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping">
        <remap from="scan" to="/thorvald_001/scan" />
        <param name="odom_frame" type="string" value="base_link" />
        <param name="base_frame" type="string" value="base_link" />
        <param name="map_frame" type="string" value="odom" />
        <param name="map_resolution" type="double" value="0.05" />
        <param name="pub_map_odom_transform" type="bool" value="true" />
        <param name="pub_map_scanmatch_transform" value="false"/>
        <param name="pub_odometry" value="true"/>
      </node>

      <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap"  output="screen" args="$(arg args)">
        <param name="database_path" type="string" value="~/.ros/rtabmap.db"/>
        <param name="frame_id"      type="string" value="base_link"/>
        <param name="odom_frame_id" type="string" value="odom"/>
        <param name="subscribe_rgb"   type="bool" value="false"/>
        <param name="subscribe_depth" type="bool" value="false"/>
        <param name="subscribe_rgbd"  type="bool" value="true"/>
        <param name="subscribe_scan"  type="bool" value="true"/>
        <param name="approx_sync"     type="bool" value="true"/>
        <param name="publish_tf"      type="bool" value="true"/>
        <param name="odom_tf_linear_variance"  type="double" value="0.0005"/>
        <param name="odom_tf_angular_variance" type="double" value="0.0005"/>
        <param name="ground_truth_frame_id" value="map"/>
        <param name="ground_truth_base_frame_id" value="base_link_GT"/>

        <!-- inputs -->
        <remap from="scan"            to="/thorvald_001/scan"/>
        <remap from="rgbd_image"       to="rgbd_image"/>

        <!-- RTAB-Map's parameters -->
        <param name="Reg/Strategy"                 type="string" value="$(arg Reg/Strategy)"/>
        <param name="Reg/Force3DoF"                type="string" value="$(arg Reg/Force3DoF)"/>
        <param name="GridGlobal/MinSize"           type="string" value="$(arg GridGlobal/MinSize)"/>

        <!-- localization mode -->
        <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
        <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>          
      </node>

      <!-- visualization with rtabmapviz -->
      <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
        <param name="subscribe_scan"   type="bool"   value="true"/>
        <param name="subscribe_odom"   type="bool"   value="false"/>
        <param name="subscribe_rgbd"   type="bool"   value="true"/>
        <param name="frame_id"         type="string" value="base_link"/>
        <param name="odom_frame_id"    type="string" value="odom"/>
        <param name="approx_sync"      type="bool"   value="true"/>

        <remap from="scan"            to="/thorvald_001/scan"/>
        <remap from="rgbd_image"      to="rgbd_image"/>
      </node>
  
    </group>

  </group>

  <group if="$(arg remap_gazebo_odom_tf)">
    <node pkg="bacchus_gazebo" type="remap_odom_and_tf.py" name="remap_odom_and_tf_node" output="screen">
      <param name="odom_topic_name"     value="/thorvald_001/odometry/gazebo" />
      <param name="new_odom_topic_name" value="/thorvald_001/odometry/GT" />
      <param name="base_frame_id"       value="base_link_GT" />
      <param name="odom_frame_id"       value="map" />   
      <param name="publish_tf"          value="true" />
    </node>
  </group>


</launch>
