<?xml version="1.0"?>
<model>
  <name>riseholme_satellite</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>gazebo</name>
    <email></email>
  </author>
  <description>
    Made with Gazebo using Google Static Map API. https://developers.google.com/maps/documentation/static-maps
  </description>
</model>