<?xml version="1.0"?>
<launch>

  <!-- Robot -->
  <arg name="robot_id" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg robot_id)_"/>
  <arg name="kinematics" default="$(optenv ROBOT_KINEMATICS diff)"/>
  <arg name="x_init_pose" default="0.0"/>
  <arg name="y_init_pose" default="0.0"/>
  <arg name="z_init_pose" default="0.0"/>
  <!-- What localization config package to use -->
  <arg name="localization_package" default="$(optenv LOCALIZATION_PACKAGE bacchus_move_base)"/>
  
  <arg name="map" default="empty/map_empty.yaml"/>
  <arg name="map_file" default="$(eval find(localization_package)+'/maps/' + map)" />

  <!-- Files -->
  <arg name="localization_system_file" default="$(eval find(localization_package) + '/launch/rbvogui_amcl.launch')"/>
  <arg name="map_server_file" default="$(eval find(localization_package) + '/launch/rbvogui_map_server.launch')"/>

  <group ns="$(arg robot_id)">

    <include file="$(arg localization_system_file)">
      <arg name="x_init_pose"   value="$(arg x_init_pose)"/>
      <arg name="y_init_pose"   value="$(arg y_init_pose)"/>
      <arg name="z_init_pose"   value="$(arg z_init_pose)"/>
      <arg name="global_frame"  value="map"/>
      <arg name="map_topic"     value="/map"/>
      <arg name="scan_topic"    value="/robot/front_laser/scan"/>
    </include>

    <include file="$(arg map_server_file)">
      <arg name="map_file" value="$(arg map_file)"/>
      <arg name="robot_id" value="$(arg robot_id)"/>
      <arg name="frame_id" value="map"/>
    </include>  

  </group>
</launch>
