<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>

  <param name="/use_sim_time" value="true"/>

  <arg name="site_name" default="riseholme"/>
  <arg name="datum_file" default="$(find mel_amcl)/config/datums/$(arg site_name).yaml"/>

  <arg name="ekf_publish_tf" default="true" />
  <arg name="use_gps_only" default="false" />

  <arg name="fuse_gps" default="true" />
  <arg name="gps_mask_std" default="2.0" />
  <arg name="gps_additional_pose_std" default="0.6" />
  <arg name="use_ekf_yaw" default="true" />
  <arg name="gps_additional_yaw_std" default="0.4" />

  <!-- Rosbag args -->
  <arg name="path" default="/media/$(env USER)/DATA/map_frame/" />
  <arg name="file_name" default="tall_robot_data_2019-08-20-15-17-25.bag" />
  <arg name="bag_rate" default="10" />
  <arg name="bag_start" default="0" />

  <arg name="map_file" default="$(find rasberry_navigation)/maps/riseholme/riseholme_rtk_fix.yaml"/>


  <!-- Load map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Play rosbag - if skipping some start time - play start of bag for tf_static -->
  <node pkg="rosbag" type="play" name="player1" output="screen" args="$(arg path)$(arg file_name)
        --rate=1 --duration=2 --keep-alive --topics /tf_static"/>
  <node pkg="rosbag" type="play" name="player2" output="screen" args="--clock $(arg path)$(arg file_name)
        --rate=$(arg bag_rate) --start=$(arg bag_start) --duration=3600 --topics /odometry/base_raw /tf_static /gps/fix /yaw /twist_mux/cmd_vel /scan /nmea/main_GGA /imu/data"/>
  

  <!-- Run rasberry_localisation.launch aka MEL -->
  <include file="$(find mel_amcl)/launch/rasberry_localisation.launch">
    <arg name="datum_file" value="$(arg datum_file)" />
    <arg name="ekf_publish_tf" value="$(arg ekf_publish_tf)" />
    <arg name="use_gps_only" value="$(arg use_gps_only)" />
    <arg name="fuse_gps" value="$(arg fuse_gps)" />
    <arg name="gps_mask_std" value="$(arg gps_mask_std)" />
    <arg name="gps_additional_pose_std" value="$(arg gps_additional_pose_std)" />
    <arg name="use_ekf_yaw" value="$(arg use_ekf_yaw)" />
    <arg name="gps_additional_yaw_std" value="$(arg gps_additional_yaw_std)" />
  </include>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find rasberry_bringup)/resources/row_traversal_action.rviz"/>

</launch>
