<?xml version="1.0"?>
<launch>
  <arg name="robot_name"/>

  <group if="$(eval robot_name == 'rb_sherpa')">
    <include file="$(find rbsherpa_sim_bringup)/launch/rbsherpa_complete.launch">
      <arg name="kinematics" value="omni" />
      <arg name="twist2ackermann" value="false" />
      <arg name="world_file" value="$(arg world)"/>
    </include>
  </group>

  <group if="$(eval robot_name == 'rb_sherpa_one_arm')">
    <include file="$(find rbsherpa_sim_bringup)/launch/rbsherpa_complete.launch">
      <arg name="robot_xacro" value="rbsherpa_std_ur10.urdf.xacro" />
      <arg name="launch_arm_control" value="true" />
      <arg name="arm_controllers" value="arm_controller"/>
      <arg name="world_file" value="$(arg world)"/>
      <arg name="x_init_pose" value="$(arg X_INIT)" />
      <arg name="y_init_pose" value="$(arg Y_INIT)" />
      <arg name="z_init_pose" value="$(arg Z_INIT)" />
      <arg name="run_navigation" value="true"/>
    </include>

    <node name="map_server" pkg="map_server" type= "map_server" args="$(find bacchus_gazebo)/maps/cropped.yaml" />

    <node name="world_tf_map" pkg="tf" type= "static_transform_publisher" args="0 0 0 0 0 0 /world /map 100" />

    <node name="world_tf_thorvald" pkg="tf" type= "static_transform_publisher" args="0 0 0 0 0 0 /map /robot_odom 100" />

    <!-- TODO: it doesn't work if left here in this launch file -->
    <!-- $ ROS_NAMESPACE=robot roslaunch rbsherpa_moveit_ur10 demo.launch -->
    <!-- $ ROS_NAMESPACE=robot rosrun rqt_joint_trajectory_controller rqt_joint_trajectory_controller -->
  </group>

  <group if="$(eval robot_name == 'rb_sherpa_xl')">
    <include file="$(find rbsherpa_sim_bringup)/launch/rbsherpa_complete.launch">
      <arg name="robot_xacro" value="rbsherpa_xl.urdf.xacro" />
      <arg name="kinematics" value="omni" />
      <arg name="twist2ackermann" value="false" />
      <arg name="world_file" value="$(arg world)"/>
    </include>
  </group>

  <group if="$(eval robot_name == 'rb_sherpa_xl_two_arms')">
    <include file="$(find rbsherpa_sim_bringup)/launch/rbsherpa_complete.launch">
      <arg name="robot_xacro" value="rbsherpa_xl.urdf.xacro" />
      <arg name="launch_arm_control" value="true" />
      <arg name="world_file" value="$(arg world)"/>
    </include>

    <include file="$(find rbsherpa_xl_2ur10_e_moveit)/launch/rbsherpa_xl_moveit_config.launch"/>
  </group>

</launch>