<?xml version="1.0"?>
<launch>

  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->

  <!-- launch robot_pose_publisher -->
  <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" respawn="true">
    <param name="~map_frame" value="map"/>
    <param name="~base_frame" value="base_link"/>
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="/cmd_vel" to="/nav_vel"/>
    <remap from="odom" to="odometry/base_raw"/>

    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>  
    <rosparam file="$(find thorvald_uv_bringup)/config/move_base/planner.yaml" command="load"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find thorvald_uv_bringup)/config/move_base/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find thorvald_uv_bringup)/config/move_base/costmap_common.yaml" command="load" ns="local_costmap" />

    <!-- local costmap, needs size -->
    <rosparam file="$(find thorvald_uv_bringup)/config/move_base/costmap_local.yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/width" value="10.0"/>
    <param name="local_costmap/height" value="10.0"/>

    
    <!-- global costmap with laser, for odom_navigation_demo -->
    <rosparam file="$(find thorvald_uv_bringup)/config/move_base/costmap_global_laser.yaml" command="load" ns="global_costmap"/>
    <param name="global_costmap/width" value="100.0"/>
    <param name="global_costmap/height" value="100.0"/>
  </node>

</launch>
