<?xml version="1.0" ?>
<launch>
  <arg name="traversal_config" default="$(find polytunnel_navigation_actions)/config/row_traversal_cfg.yaml" />


  <node pkg="polytunnel_navigation_actions" type="in_row_trav.py" name="row_traversal" output="screen">
    <rosparam file="$(arg traversal_config)" command="load"/>
    <!--rosparam file="$(find polytunnel_navigation_actions)/config/row_traversal_cfg_$(arg site_name)_$(arg task).yaml" command="load"/>
    <<rosparam file="$(find polytunnel_navigation_actions)/config/row_traversal_cfg_$(arg site_name).yaml" command="load"/>-->
  </node>

</launch>
