<?xml version="1.0" ?>

<launch>
  <arg name="robot_no" />

  <node pkg="thorvald_uv_bringup" type="update_footprint_from_robot_config.py" name="update_footprint_from_robot_config" output="screen" required="true" args="$(arg robot_no)"/>
  <rosparam command="load" file="$(find thorvald_uv_bringup)/config/robots/robot_$(arg robot_no)/robot_$(arg robot_no).yaml"/>

</launch>

