name: Docker Image CI

on:
  push:
    branches: [ teaching ]
#  pull_request:
#    branches: [ teaching ]
    tags:
      - '*'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: What
      run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV
    - name: Docker Login LCAS
      # You may pin to the exact commit or the version.
      # uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      uses: docker/login-action@v1.10.0
      with:
        # Server address of Docker registry. If not set then will default to Docker Hub
        registry: lcas.lincoln.ac.uk
        # Username used to log against the Docker registry
        username: ${{ secrets.LCAS_REGISTRY_PUSHER }}
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.LCAS_REGISTRY_TOKEN }}
    - name: Docker Login dockerhub
      uses: docker/login-action@v1.10.0
      with:
        # Username used to log against the Docker registry
        username: ${{ secrets.DOCKERHUB_USER }}
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    #- name: Build the Docker image
    #  run: docker build . --file Dockerfile --tag lcas.lincoln.ac.uk/uollcas/teaching:latest
    #- name: Push the Docker image
    #  run: docker push lcas.lincoln.ac.uk/uollcas/teaching:latest
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64
        push: true
        tags: lcas.lincoln.ac.uk/lcas/bacchus_lcas_teaching:${{ env.BRANCH }}
        build-args: |
            BRANCH=${{ env.BRANCH }}